h1::first-letter {
    color: red;
    font-size: 5rem;
}

p::first-line{
    color: blue;
}

li {
    list-style: none;
}

li::before {
    content: "A";
    color: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: orange;
}